.btn {
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  width: 100%;
}

.btn:hover {
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
}

.numbers {
  width: 80vh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
